{% load static %}


<div class="page">
    <header>
        <nav>
            <ul id='ul_top'>
              <h2><a href={% url 'main' %}>조별과제 2호</a></h2>
            </ul>
            <ul>
              

              <li><a href={% url 'doctor' %}>Doctor</a></li>
              <li><a href="{% url 'hypothesis' %}">Hypothesis</a></li>
              <li><a href="{% url 'people' %}">People</a></li>
              <li><a href="{% url 'now' %}">Now</a></li>

            </ul>
        </nav>
    </header>
</div>
